<h2><%= current_tool.category %></h2>

<p><%= current_tool.description %></p>

<%= button_to 'Add/Remove from Toolbox', {:controller => "tools", :action => "update", :tool_id => params[:id]} , :method=>:put, class:"btn btn-info" %><br>
