<h3> Select a Job Category: </h3>

<%= form_for(@job)do |f|%>
<%= f.collection_select :id, Job.all, :id, :category %>

<h3>Or create a new Job Category: </h3>
<%= f.fields_for :job do |b| %>
    <%= f.text_field :category %>
<% end %>
<% end %>